.App {
  text-align: center;
}

.logo{
  width: 50px;
	height: 50px;
}

.logo_nospin{
  width: 50px;
	height: 50px;
}

.logo_footer{
  width: 20px;
	height: 20px;
}

@media (prefers-reduced-motion: no-preference) {
  .logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.App-header {
  background: linear-gradient(white,white,#bcdbf1,#bcdbf1);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-link {
  color: #61dafb;
}
.App-title1{
  font-size: 60px;
  text-shadow: #FC0 1px 0 10px;
}
.App-title2{
  font-size: 50px;
}
.App-paragraph{
  font-size: 20px;
}
.App-footer{
  background: #bcdbf1;
}
.background {
  box-shadow: 1px 1px 1px black;
}
img, svg {
  vertical-align: middle;
  border-radius:20px ;
  /*box-shadow: 1px 1px 1px black;*/
}
h6{
  color: #7072C8;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
